<!DOCTYPE html>
<html>
<head>
    {{#if ENABLE_GOOGLE_ANALYTICS}}<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50619069-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-50619069-1');</script>{{/if}}<base href="{{ SITE_URL }}" />
    <title>{{#if SITE_TITLE}}{{ SITE_TITLE }}{{else}}Den beste kokeboka på nettet{{/if}} :: Youkok2.com</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="{{#if SITE_DESCRIPTION }}{{ SITE_DESCRIPTION }}{{else}}Velkommen til Youkok2, den beste kokeboka på nettet.{{/if}}" />
    <meta name="keywords" content="ntnu, kok, youkok, kokebok, øvinger, lekser, eksamen, oppgaver, fasit, trondheim" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/libs/bootstrap.lumen.3.3.1+2.min.css" />
</head>
<body class="{{ BODY_CLASS }}">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ SITE_URL }}">Youkok2.com</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="main-nav" class="nav navbar-nav">
                <li{{#ifEquals HEADER_MENU "home" }} class="active"{{/ifEquals}}><a href="{{ SITE_URL }}">Hjem</a></li>
                <li{{#ifEquals HEADER_MENU "courses" }} class="active"{{/ifEquals}}><a href="/emner">Emner</a></li>
                <li{{#ifEquals HEADER_MENU "about" }} class="active"{{/ifEquals}}><a href="/om">Om Youkok2</a></li>
                <li{{#ifEquals HEADER_MENU "help" }} class="active"{{/ifEquals}}><a href="/hjelp">Hjelp</a></li>
            </ul>
            <form class="navbar-form navbar-right" id="search-form" name="search-form" action="/emner" method="get">
                <div class="form-group div-relative" id="search-bar"></div>
            </form>
        </div>
    </div>
</div>
<main class="container">
    <noscript>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning" role="alert">Du må skru på JavaScript for å kunne bruke Youkok2.</div>
            </div>
        </div>
    </noscript>
    <div class="row">
        <div class="col-xs-12">
